* {
  margin: 0;
  padding: 0;
  border: 0;
}


body {
  background: url('../images/papertexture.jpg');
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-container::after {
  display: flex;
  content: "";
  justify-content: flex-end;
  clear: both;
}

body > .flex-container {
  margin-top: 100px;
}

.box {
  display: flex;
  padding-left: 10%;
  -ms-flex-item-align: start;
  flex-direction: reverse;
}

header {
background: white;
padding: 20px 0;
border-bottom: 1px solid black;
}

h1 {
   display: flex;
   flex-wrap: wrap;
   width: 30%;
   font-family: Arial;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-family: Arial;
}

p {
  margin: 20px 0;
  line-height: 140%; 
}

h2 {
    font-size: 32px;
    border-bottom: 6px #333;
}

ul {
    margin-left: 20px;
}

nav {
   display: flex;
   -ms-flex-align: start;
   text-align: right;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  background: #333;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 4px;
}

main,
aside {
  background: white;
}

main {
  max-width: 59%;
  flex: auto;
  padding: 20px;
  margin-right: 30px;
}

main img{
  flex: auto;
  margin-right: 30px;
}

aside {
  flex: auto;
  padding: 20px;
}

aside a {
  text-decoration: none;
}

aside img {
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
  margin: 0 5px;
}

footer{
  text-align: center;
  margin-top: 40px;
  background-color: #333;
  color: white;
  padding: 10px;
}